body{
    display: flex;
    justify-content: center;
}

.main{
    height: 400px;
    width: 300px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: rgb(233, 225, 225);
    margin-top: 100px;
}

.display{
    height: 50px;
    width: 270px;
    border: 2px solid black;
    margin-top: 30px;
    margin-left: 12px;
    border-radius: 5px;
    background-color: white;
    font-size: 35px;
}

.arrange{
    height: 250px;
    margin-top: 43px;
    margin-right: 5px;
    margin-left: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.btn{
    border: 1px solid black;
    height: 59px;
    width: 59px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 8px;
    background-color: white;
    font-size: 25px;
}

.btn:hover{
    background-color: rgb(246, 242, 242);
}

.black{
    background-color: rgba(23, 21, 21, 0.705);
    color: white;
}

.black:hover{
    background-color: rgb(114, 111, 111);
}

.red{
    background-color: rgba(230, 57, 57, 0.922);
}

.red:hover{
    background-color:rgba(230, 57, 57, 0.7);
}